@model  SmallCodeBoot.DataModels.BaseViewModel
@using System.Data;
@using SmallCodeBoot.Models
@using SmallCodeBoot.Extendsions
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th style="text-align:center">
                <label class="control-label">用户名</label>
            </th>
            <th style="text-align:center">
                <label class="control-label">角色</label>
            </th>
            <th style="text-align:center">
                <label class="control-label">邮箱</label>
            </th>
            <th style="text-align:center">
                <label class="control-label">创建时间</label>
            </th>
            <th style="text-align:center">
                <label class="control-label">操作</label>
            </th>
        </tr>
    </thead>
    @if (Model.DataSource != null)
    {
        <tbody style="text-align:center;">
            @foreach (DataRow dr in Model.DataSource.Rows)
                {
                <tr id="@dr["ID"].ToString()">
                    <td>
                        @dr["Username"].ToString()
                    </td>
                    <td>
                        @(Convert.ToInt32(dr["Role"].ToString()).ToEnum<Role>())
                    </td>
                    <td>
                        @dr["Email"].ToString()
                    </td>
                    <td>
                        @dr["CreatedDate"].ToString()
                    </td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default">更多操作</button>
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                                <span class="sr-only"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="javascript:deleteDialog('/UserManage/Delete/@dr["ID"].ToString()','@dr["ID"].ToString()')">删除</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    }
</table>
<input id="hidTotalPage" type="hidden" value="@Model.TotalRecords" />